.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }
  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: black;
  }

/* features  */
/* Feature Section */
#features {
  display: flex;
  justify-content: space-around;
}
/* Icon Container */
#features .icon-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}
/* Image Wrapper */
#features .img-wrapper {
  cursor: pointer;
  padding: 15px;
  width: 60px;
  height: 58px;
  border-radius: 50%;
  background-color: #009688;
  animation: animate 3s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Image Wrapper Image */
#features .img-wrapper img {
  width: 40px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Icon Container h4 */
#features .icon-container h4 {
  color: rgb(27, 25, 25);
  position: absolute;
  top: 80%;
}
/* Animation */
@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.7), 0 0 0 0 rgba(0, 150, 136, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(0, 150, 136, 0), 0 0 0 0 rgba(0, 150, 136, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(0, 150, 136, 0), 0 0 0 30px rgba(0, 150, 136, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 150, 136, 0), 0 0 0 30px rgba(0, 150, 136, 0);
  }
}